{% extends "_base.html" %}

{% load compress %}
{% load static %}
{% load custom_filters %}

{% block head %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookings</title>
    
    <!-- Tailwind CSS -->
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}

    <!-- Include Leaflet CSS and JavaScript -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.4.1/dist/html2canvas.min.js"></script>
{% endblock head %}


{% block main %}
<div 
class="flex flex-wrap items-center justify-center p-8 min-h-[100vh] max-h-[100vh] overflow-auto">
    <div class="p-8 rounded-lg flex items-center gap-8 ">
        <div class="h-full px-8 lg:px-16">
            <img src="{{booking.car.image.url}}" alt="" class="h-32 lg:h-48 w-full object-contain my-auto">
        </div>
        <div class="flex flex-col gap-4 justify-between text-gray-200">
            <!-- Map preview -->
            <div>
                <span class="">Location :</span>
                <div id="map-container" class="map-container w-full rounded-xl overflow-hidden my-4 border border-slate-500">
                    <!-- Map container -->
                    <div id="map" class="" style="height: 300px;"></div>
                </div>
            </div>
            <div id="myDiv" class="flex flex-col gap-1 py-8 px-4">
                <div class="flex gap-8">
                    name:
                    <span class="font-medium">{{ booking.car.name }}</span>
                </div>
                <div class="flex gap-8">
                    MAKE_AND_MODEL:
                    <span class="font-medium">{{ booking.car.make_and_model }}</span>
                </div>
                <div class="flex gap-8">
                    car_type:
                    <span class="font-medium">{{ booking.car.car_type }}</span>
                </div>
                <div class="flex gap-8">
                    Booking Code:
                    <span class="font-medium">{{ booking.id }}</span>
                </div>
                <div class="flex gap-8 border-t">
                    Rental duration : 
                    <span class="font-medium">{{ total_hours }} Hours</span>
                </div>
                <div class="flex gap-8">
                    Total Rental Fee :
                    <span>MYR {{ booking.car.price }} X {{ total_hours }} hours</span>
                    <span class="font-medium">MYR {{ booking.total_price }}</span>
                </div>
            </div>
            

            <button class="btn-primary" onclick="downloadImage()">Download Receipt</button>

        </div>
    </div>
</div>


<script>
    function downloadImage() {
        const element = document.getElementById('myDiv');
        html2canvas(element).then(canvas => {
            const link = document.createElement('a');
            link.href = canvas.toDataURL('image/png');
            link.download = 'Receipt.png';
            link.click();
        });
    }
</script>



<script>
    let origin_cord = [{{booking.car.latitude}},{{booking.car.longitude}}]
    // let origin_cord = [-34.66,-58.43]

    var map = L.map('map').setView([-34.66,-58.43], 4);

    // Create markers
    var marker_origin = L.marker(origin_cord, { draggable: false }).addTo(map);
    {% comment %} marker_origin.bindPopup("").openPopup(); {% endcomment %}

    map.fitBounds([marker_origin.getLatLng()])
    map.setView(map.getCenter(), 6);  // Change zoom of the map

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

</script>


{% endblock main %}