{% load custom_filters %}

<div class="flex flex-col p-4 rounded-xl bg-white">
    <div class="h-32 max-h-32">
        <img src="{{car.image.url}}" alt="" class="h-full w-full object-contain">
    </div>
    <div class="flex justify-between pt-2">
        <h2 class="font-medium">{{car.name}}</h2>
        <span class="font-medium">
            RM{{car.price}}
            <span class="text-sm text-slate-500">/hour</span>
        </span>
    </div>
    <p class="mt-2 border-t pt-2 text-gray-500 text-sm">
        {{car.address}} 
    </p>
    status: {{booking.status}}


    <div method="post" class="flex-1 flex items-end">
        <a href="/payment/{{ booking.id }}/" class="cursor-pointer text-center flex-1 btn-secondary mt-4">Payment <i class="fa-solid fa-arrow-right pl-2"></i></a>
    </div>
</div>
