{% load custom_filters %}

<div class="flex flex-col p-4 rounded-xl bg-white">
    <div class="h-32 max-h-32">
        <img src="{{car.image.url}}" alt="" class="h-full w-full object-contain">
    </div>
    <div class="flex justify-between pt-2">
        <h2 class="font-medium">{{car.name}}</h2>
        <span class="font-medium">
            ${{car.price}}
            <span class="text-sm text-slate-500">/hour</span>
        </span>
    </div>
    <p class="mt-2 border-t pt-2 text-gray-500 text-sm">
        {{car.address}} 
    </p>
    {% if car.distance %}
    <span class="font-medium pt-2">
        <i class="fa-solid fa-person-walking text-slate-500"></i> {{ car.distance|simplify_distance_unit }}
        <!-- <span class="text-sm text-slate-500">(12 min)</span> -->
    </span>
    {% endif %}

    <form method="post" class="flex-1 flex items-end">
        {% csrf_token %}
        <input type="hidden" name="car_id" value="{{ car.id }}">
        {% comment %} <input type="hidden" name="pick_up_date" value="{{ pick_up_date }}">
        <input type="hidden" name="pick_up_time" value="{{ pick_up_time }}">
        <input type="hidden" name="drop_off_date" value="{{ drop_off_date }}">
        <input type="hidden" name="drop_off_time" value="{{ drop_off_time }}"> {% endcomment %}
        <button name="booking" class="cursor-pointer text-center flex-1 btn-secondary mt-4">Book Now</button>
    </form>
</div>

<script>
    pick_up_date = document.querySelector('input[name="pick_up_date"]').value
    pick_up_time = document.querySelector('input[name="pick_up_time"]').value
    drop_off_date = document.querySelector('input[name="drop_off_date"]').value
    drop_off_time = document.querySelector('input[name="drop_off_time"]').value

    function name(carId) {

        fetch('http://localhost:8000/my-view/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                car_id: carId,
                key2: 'value2'
            })
        })
        .then(response => response.json())
        .then(data => console.log(data))
        .catch(error => console.error('Error:', error));
        }
    }

</script>